---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | prepend: site.baseurl }}">
        {{ post.title }}
      </a>
    </h1>
    {{ post.excerpt }}
    <div class="post-meta">
		    <time class="post-meta-left" datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time> | <a class="post-meta-left" href="{{ post.url }}#disqus_thread"><i class="fa fa-comments fa-lg"></i>&nbsp;<span class="disqus-comment-count" data-disqus-identifier="{{ post.path | split:'/' | last | cgi_escape }}">&nbsp;</span></a><a class="post-read-more" href="{{ post.url | prepend: site.baseurl }}/#read-more">Leer más <i class="fa fa-angle-double-right"></i></a>
	</div>
  </div>
  {% endfor %}
</div>

<div class="cf frame">
	{% include google-ads.html %}
</div>

<nav class="pagination" role="navigation">
  {% if paginator.next_page %}
	<a class="newer-posts" href="/page{{paginator.next_page}}"><i class="fa fa-chevron-circle-left"></i> Artículos antiguos</a>
  {% endif %}
  <span class="page-number">Página {{ paginator.page }} de {{ paginator.total_pages }}</span>
  {% if paginator.previous_page %}
	{% if paginator.page == 2 %}
	  <a class="older-posts" href="/">Artículos nuevos &rarr;</a>
	{% else %}
	  <a class="older-posts" href="/page{{paginator.previous_page}}">Artículos nuevos ><i class="fa fa-chevron-circle-right"></i></a>
	{% endif %}
  {% endif %}
</nav>


{% comment %}
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
{% endcomment %}

